{% load static %}
<article class="row pt-header d-flex justify-content-center" id="step2">
    <h2 class="font_Gogh fs_40 cake_blue text-center mb-3">Наши торты</h2>

    {% for cake in cakes %}

        <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center">
            <div class="card border-0 cake__hover">
                <img src="{{ cake.image.url }}" alt="{{ cake.name }}" class="">
                <span class="cake_blue mt-4 fw-lighter mb-4 text-center lk__order" data-bs-toggle="modal"
                      data-bs-target="#extendModal{{ cake.id }}">{{ cake.name }}</span>
                <span class="mt-4 fw-lighter mb-4 text-center">{{ cake.price }} руб.</span>
            </div>
        </div>
        <aside class="modal fade" id="extendModal{{ cake.id }}" tabindex="-1"
               aria-labelledby="extendModalLabel{{ cake.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title cake_pink" id="extendModalLabel{{ cake.id }}">
                            {{ cake.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span class="cake_blue">Уровней: {{ cake.levels }}</span><br>
                        <span class="cake_blue">Форма: {{ cake.form }}</span><br>
                        <span class="cake_blue">Топпинг: {{ cake.topping }}</span><br>
                        <span class="cake_blue">Ягоды: {{ cake.berries_label }}</span><br>
                        <span class="cake_blue">Декор: {{ cake.decorations_label }}</span><br>
                        <span class="cake_blue">Надпись: {{ cake.text_label }}</span><br>
                        <span class="cake_pink">Цена: {{ cake.price }} руб.</span>
                        
                        <form id="order-form-{{ cake.id }}" method="post" action="{% url 'storage:create_order_catalog' %}">
                            {% csrf_token %}
                            <input type="hidden" name="cake_id" value="{{ cake.id }}">      
                            <h5 class="cake_blue mb-3 mt-3">Данные для доставки</h5>
                            
                            <div class="mb-3">
                                <label class="form-label cake_blue">Адрес доставки</label>
                                <input type="text" name="address" class="form-control cake-input" placeholder="Укажите адрес доставки" required>
                            </div>
                            
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label class="form-label cake_blue">Дата доставки</label>
                                    <input type="date" name="delivery_date" class="form-control cake-input" required>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label cake_blue">Время доставки</label>
                                    <input type="time" name="delivery_time" class="form-control cake-input" required>
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label cake_blue">Надпись на торте - Стоимость 500₽</label>
                                <input type="text" name="text" class="form-control cake-input" 
                                       placeholder="Например: «С днем рождения!»" value="{{ cake.text|default:'' }}">
                            </div>
                            
                            <div class="mb-4">
                                <label class="form-label cake_blue">Комментарий к заказу</label>
                                <textarea name="order_notes" rows="2" class="form-control cake-input" placeholder="Ваши пожелания..."></textarea>
                            </div>
                            
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn text-white rounded-pill mt-3 shadow-none cake__button cake__bg_pink">
                                    Заказать
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </aside>
    {% endfor %}
</article>