{% load static %}
<article class="row position-relative">
  <div class="col-12 col-xxl-6 d-flex justify-content-center">
    <img src="{% static 'img/Cake.png' %}" alt="">
  </div>
  <div class="col-12 col-xxl-6 d-flex flex-column justify-content-center align-items-center align-items-xxl-start">
    <h1 class="font_Gogh fs_40 cake_blue">Создайте торт своей мечты</h1>
    <span class="cake_grey fw-lighter">Уникальность и красота в пару кликов</span>
    <a href="#step3" class="btn text-white rounded-pill px-5 mt-3 shadow-none cake__button cake__bg_pink">Создать</a>
  </div>
  <div class="position-fixed bottom-0 m-5 w-auto end-0">
    <div class="d-flex">
      <div class="cake__bg_blue rounded-pill p-3 border">
        <img src="{% static 'img/intercom.svg' %}" alt="">
      </div>
    </div>
  </div>
</article>