{% load static %}
<section id="step4">
    <article class="row pt-header text-center d-flex justify-content-center">
        <h2 class="font_Gogh fs_40 cake_blue text-center mb-5">Оплата и доставка</h2>
        <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center">
            <div class="d-flex align-items-center" style="height: 120px">
                <img src="{% static 'img/clock.svg' %}" alt="">
            </div>
            <span class="cake_blue mt-4 fw-lighter">Изготовление 24 ч.</span>
            <p class="cake_grey mt-3">Срочный заказ (менее 24 ч.) увеличивает стоимость заказа на 20%</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center">
            <div class="d-flex align-items-center" style="height: 120px">
                <img src="{% static 'img/card.svg' %}" alt="">
            </div>
            <span class="cake_blue mt-4 fw-lighter">100% предоплата</span>
            <p class="cake_grey mt-3">Оплата осуществляется банковской картой или в нашем ресторане наличными</p>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center">
            <div class="d-flex align-items-center" style="height: 120px">
                <img src="{% static 'img/deliv.svg' %}" alt="">
            </div>
            <span class="cake_blue mt-4 fw-lighter">Доставка по Москве</span>
            <p class="cake_grey mt-3">Готовый заказ доставят по адресу в заявке с 10:00 до 23:00 в пределах МКАД</p>
        </div>
        <div class="d-flex justify-content-center">
            <a href="#step3" class="btn text-white rounded-pill mt-3 shadow-none cake__button cake__bg_pink">Оформить
                заказ</a>
        </div>
    </article>
</section>
