{% load static %}
<section id="step2">
    <article class="row pt-header d-flex justify-content-center">
        <h2 class="font_Gogh fs_40 cake_blue text-center mb-3">По любому поводу</h2>

        {% for cake in cakes %}
            <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column align-items-center">
                <div class="card border-0 cake__hover">
                    <img src="{{ cake.image.url }}" alt="{{ cake.name }}" class="">
                    <span class="cake_blue mt-4 fw-lighter mb-4 text-center">{{ cake.name }}</span>
                </div>
            </div>
        {% endfor %}

        <div class="d-flex justify-content-center mt-2">
            <a href="{% url 'storage:catalog' %}">
                <button class="btn text-white rounded-pill shadow-none cake__button cake__bg_pink">Открыть каталог
                </button>
            </a>
        </div>
    </article>
</section>